* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat ALt Bold";
  src: url("../../public/fonts/MontserratAlternates-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alt Black";
  src: url("../../public/fonts/MontserratAlternates-Black.ttf") format("woff2");
  font-weight: 800;
  font-style: normal;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1em;
}
