---
import Hero from "../Components/Hero.astro";
import Header from "../Components/Header.astro";
import Footer from "../Components/Footer.astro";
import Section1 from "../Components/Section1.astro";
import Section2 from "../Components/Section2.astro";
import Section3 from "../Components/Section3.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header>
    <Header />
  </header>
  <body>
    <Hero />
    <Section1 />
    <Section2 />
    <Section3 />
  </body>
  <footer>
    <Footer />
  </footer>

  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat ALt Bold";
      src: url("../../public/fonts/MontserratAlternates-Bold.ttf") format("woff2");
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat Alt Black";
      src: url("../../public/fonts/MontserratAlternates-Black.ttf") format("woff2");
      font-weight: 800;
      font-style: normal;
    }

    header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 1em;
    }
  </style>


</html>
