---
const { text, link, type } = Astro.props;
---

<a target="_blank" href={link} class={type}> {text} </a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    background-color: #f1a3c3;
    font-family: "Montserrat";
    transition: 0.2s;
    margin: 1em 0;
  }
  a:hover {
    opacity: 70%;
  }

  .secondary {
    background-color: #82c2f0;
  }
</style>
