---

---

<section>
  <h2>Ansigt til Ansigt</h2>
  <p>Ansigt til Ansigt er et networking event for kreative, som har 0 - 3 års erfaring. <br /> Til disse events kan du møde andre inde for din branche, samt få feedback på din portfolio fra professionelle kreative.</p>
</section>

<style>
  h2 {
    font-family: "Montserrat Alt Black";
    margin: 2em 0 1em 0;
  }

  section {
    padding: 0 1.5em 3em 1.5em;
  }

  p {
    font-family: "Montserrat";
    font-size: 0.8em;
    line-height: 2em;
  }

  @media (width >= 800px) {
    section {
      padding: 0 8em 3em 8em;
    }

    p {
      font-size: 1em;
    }

    h2 {
      font-size: 2em;
    }
  }
</style>
