---

---

<section>
  <h1>VIDEO</h1>
</section>

<style>
  section {
    background: linear-gradient(0deg, #008cd8, #0070af);
    padding: 7em;
  }

  h1 {
    font-family: "Montserrat Alt Black";
    text-align: center;
    color: #fff;
  }

  @media (width >= 800px) {
    section {
      padding: 10em;
    }
  }
</style>
